[submodule "Firefly/Lib/spdlog"]
	path = Firefly/Lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Firefly/Lib/GLFW"]
	path = Firefly/Lib/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Firefly/Lib/imgui"]
	path = Firefly/Lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Firefly/Lib/glm"]
	path = Firefly/Lib/glm
	url = https://github.com/g-truc/glm
